<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" thread-count="5">
	<listeners>
		<listener class-name="listener.RetryTestCases"></listener>
	</listeners>

	<test thread-count="2" name="Test" parallel="false">
		<classes>
			<class name="testscripts.MyAccountTest" />
			<class name="testscripts.CheckURLTest" />
			<class name="testscripts.LoginTest" />
			<!--<class name="testscripts.E2EOrderTest"></class> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->